{% extends "base.html" %}

{% block title %}Medpaper: tagging_cloud{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/tagging/tag.css" %}{% endblock %}

{% block content %}
<h2>Blog Tag</h2>
<div class="tag-cloud">
	{% load tagging_tags %}
	{% tag_cloud_for_model blog.Post as tags with steps=6 min_count=1 distribution=log %}
	{% for tag in tags %}
	<span class="tag-{{ tag.font_size }}">
		<a href="{% url 'blog:tagged_object_list' tag.name %}">{{ tag.name }} ({{ tag.font_size }})</a>
	</span>
	{% endfor %}
</div>
{% endblock %}

